<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<!--<span th:text="'Message: ' + ${message}"></span>-->
<h1>Thymeleaf 3 + Spring 4 example</h1>
<form action="/save" th:action="@{/save}" th:object="${note}" method="post">
    <p>Your name: <input type="text" th:field="*{owner}"/></p>
    <p>Note name: <input type="text" th:field="*{name}"/></p>
    <p>Description: <input type="text" th:field="*{description}"/></p>
    <p>link: <input type="text" th:field="*{link}"/></p>
    <p><input type="submit" value="Submit"/>
        <input type="reset" value="Reset"/></p>
</form>
</body>
</html>